<!DOCTYPE html>
<html lang="en">

<%- include('header.ejs') %>

<body class="container shadow bg">

<%- include('navbar.ejs') %>

<main class="container text-center" role="main">
    <h2> Contact </h2>

    <div class="text-center text-justify">
      RentAcar! <br />
      Independency street n. 5 <br />
      078-5467 NeverLand <br />
      NIP 222222222 <br />
      contact@rentA.car <br />
      <br /> <!-- to be removed through padding -->
    </div>
</main>

<%- include('footer.ejs') %>

</body>
</html>
