<!DOCTYPE html>
<html lang="en">

<%- include('header.ejs') %>

<body class="container shadow bg">

<%- include('navbar.ejs') %>

<main class="container" role="main">
<div class="text-center text-justify">
  <h2 class="text-center">
    Contact
  </h2>

  RentAcar! <br />
  Independency street n. 5 <br />
  078-5467 NeverLand <br />
  NIP 222222222 <br />
  contact@rentA.car <br />
</div>
</main>

<%- include('footer.ejs') %>

</body>
</html>
