<head>
    <title> RentAcar! </title>

    <meta name="author" content="Lucio Afonso" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="/images/car.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- jQuery -->
    <script src="/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Font Googleapis -->
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Amarante&subset=latin,latin-ext" />
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Cherry+Swash&subset=latin,latin-ext" />
</head>