<nav class="navbar bg-white d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal" >
    <a class="navbar-brand" class="form-inline" href="/">
        <img  src="/images/logo.jpg" alt="Logo" height="45">
    </a>
    </h5>

    <form class="navbar-form navbar-right" role="form" action="/login" method="post" class="form-inline">

    <div class="input-group">
    <div class="formBox">
        <input type="text" size="25" class="form-control" name="email" placeholder="E-mail" minlength="4" maxlength="25" required=>
        <p><input type="checkbox" id="remember_me" name="remember_me" checked tabindex="3">
        <label for="remember_me" class="greyText">Remember me</label></p>
    </div>

    <div class="formBox">
        <input type="password" size="15" class="form-control" name="password" placeholder="Password" minlength="4" maxlength="20" autocomplete="new-password" required>
        <a class="greyText" id="userForgotPassword" rel="nofollow" href="/password-help">Forgot password?</a>
    </div>

    <div class="input-group-addon">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
    </div>
    </form>
</nav>