<nav class="container navbar py-3 my-3 border-bottom">
<h5 class="col font-weight-bold form-inline">
  <a class="navbar-brand" href="/">
    <img class="img-fluid" src="/images/logo.jpg" alt="Logo" width="150px">
  </a>

  <%if (user){ %>
    <a class="nav-link" href="/catalog">Catalog</a>
    <a class="nav-link" href="/library">Reservations</a>
    <%if (user.admin){ %>
      <a class="nav-link text-primary" href="/admin">
        <strong>Administration</strong>
      </a>
    <% } %>
  <% } %>
</h5>


<%if (user){ %>
  <div class="row">
  <a class="nav-link" href="/user">
    <i class="text-primary fa fa-user-circle fa-lg"></i>
  </a>

  <a class="nav-link" href="/logout">
    <i class="text-primary fa fa-sign-out fa-lg"></i>
  </a>

  <form class="col form-inline" action="/find" method="POST">
  <div class="input-group">
    <input type="search" name="item" class="form-control"
      placeholder="Brand, model, year" required autofocus>
    <div class="input-group-addon">
      <button class="btn btn-outline-primary" type="submit">
      <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  </form>
</div>

<% } else { %>
<form class="navbar-forml form-inline" role="form" action="/login" method="post">
  <div class="input-group">
    <input type="email"  class="form-control" name="email"
      placeholder="E-mail" minlength="4" maxlength="25" required>
  </div>
  <div class="input-group col">
    <input type="password" class="form-control" name="password"
      placeholder="Password" minlength="4" maxlength="20"
      autocomplete="new-password" required>
  </div>
  <div class="input-group-addon">
    <input type="submit" class="btn btn-outline-primary" value="Log in">
  </div>
</form>
<% } %>
</nav>
