<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>
<body>
<%if (user) { %>
<%- include('navbar.ejs') %>
<% } else { %>
<%- include('navbar1.ejs') %>
<% } %>

<main role="main" class="container text-center">
    <img src="/images/Error.png" alt="not_found" class="img-fluid mx-auto d-block">
</main>
<%- include('footer.ejs') %>
</body>
</html>