<!DOCTYPE html>
<html lang="en">

<%- include('header.ejs') %>

<body class="container shadow bg">

<%- include('navbar.ejs') %>

<main class="container text-center" role="main">
    <img class="img-fluid mx-auto d-block"
      src="/images/Error.png" alt="not_found">
</main>

<%- include('footer.ejs') %>

</body>
</html>
