<!DOCTYPE html>
<html lang="en">

<%- include('header.ejs') %>

<body class="container shadow bg">

<%- include('navbar.ejs') %>

<main class="container login-form" role="main">
  <form class="shadow" action="/" method="get">
    <h2 class="text-center">
      Find your <strong>RentAcar</strong> account
    </h2>

    <p class="text-center small">
      Enter your email or username.
    </p>

    <div class="form-group">
      <input type="email" class="form-control" size="25"
          placeholder="E-mail" required>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-warning btn-block">
        Send
      </button>
    </div>
  </form>
</main>

<%- include('footer.ejs') %>

</body>
</html>
