@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);

.user_profile {
  border: 10px solid;
  border-radius: 2px;
  display: block;
  position: relative;
}

.user_profile .user {
  font-size: 22px;
  margin: 1% 0 6% 0;
}

.user_profile::after {
  content: "";
  background: url("/images/logo.jpg") center center no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.car_header * {
  font: 700 1em/1.25 'Playfair Display', sans-serif;
  letter-spacing: 0.125em;
  margin: 0;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 1rem;
}